.container {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: linear-gradient(145deg, #1e1e1e, #2e2e2e);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  max-width: 600px;
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.card:hover {
  box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 0 10px rgba(98, 0, 234, 0.8), 
    0 0 20px rgba(98, 0, 234, 0.6), 
    0 0 30px rgba(98, 0, 234, 0.4), 
    0 0 40px rgba(98, 0, 234, 0.2);
}

.button {
  margin: 10px;
}