/* Quiz.module.css */
.quizPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(145deg, #121212, #1f1f1f);
}

.card {
  background: linear-gradient(145deg, #1e1e1e, #2e2e2e);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  max-width: 600px;
  width: 100%;
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 0 10px rgba(98, 0, 234, 0.8), 
    0 0 20px rgba(98, 0, 234, 0.6), 
    0 0 30px rgba(98, 0, 234, 0.4), 
    0 0 40px rgba(98, 0, 234, 0.2);
}

.card:hover {
  background-color: #2a2a2a;
  box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 0 10px rgb(0, 162, 255), 
    0 0 20px rgb(0, 132, 209), 
    0 0 30px rgba(98, 0, 234, 0.4), 
    0 0 40px rgba(98, 0, 234, 0.2);
}

.quizBoard {
  text-align: center;
  color: #fff;
}

.questionContainer {
  margin-top: 1rem;
}

.answersContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.answerButton {
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #6200ea;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answerButton:hover {
  background-color: #3700b3;
}

.answerButton[disabled] {
  cursor: not-allowed;
}

.nextQuestionButton {
  background-color: #ff9800;
  margin-top: 1rem;
}

.nextQuestionButton:hover {
  background-color: #e65100;
}

button {
  margin-top: 1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #6200ea;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3700b3;
  box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 0 10px rgb(0, 162, 255), 
    0 0 20px rgb(0, 132, 209), 
    0 0 30px rgba(98, 0, 234, 0.4), 
    0 0 40px rgba(98, 0, 234, 0.2);
}

.correctAnswer {
  margin-top: 1rem;
  color: #f44336;
}
